<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-cad_equipo113/blob/main/plantilla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ciencia y analítica de datos**

------------------------------
Jessica Paola Pulido Vasquez
**A01793650**

Joan Sebastian Jimenez Chacón
**A01793970**

------------------------------
Proyecto final - Avance 1

1. El nombre que caracteriza el conjunto de datos: 

   **Airplane Crashes and Fatalities**. Conjunto de datos que analiza los accidentes aereos. 

2. La organización que lo generó: 
   Usuario The Devastor de Kaggle

3. Incluya un enlace de Internet donde se puedan descargar el base de datos en línea: 
    https://www.kaggle.com/datasets/thedevastator/airplane-crashes-and-fatalities/metadata

4. Describe el conjunto de datos. ¿Qué datos contiene?
- Fecha de Accidente
- Hora de Accidente
- Ubicación del Accidente
- Operador de Aeronave
- ID del vuelo
- Tipo de Aeronave
- Registro
- cn/In
- Número de persona a bordo
- Número de fallecimientos
- Altura
- Observaciones

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/PosgradoMNA/actividades-del-projecto-cad_equipo113/main/Airplane_Crashes_and_Fatalities_Since_1908.csv"
datos=pd.read_csv(url)
datos.head()

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [4]:
datos.describe()

            index       Aboard   Fatalities       Ground
count  5268.00000  5246.000000  5256.000000  5246.000000
mean   2633.50000    27.554518    20.068303     1.608845
std    1520.88494    43.076711    33.199952    53.987827
min       0.00000     0.000000     0.000000     0.000000
25%    1316.75000     5.000000     3.000000     0.000000
50%    2633.50000    13.000000     9.000000     0.000000
75%    3950.25000    30.000000    23.000000     0.000000
max    5267.00000   644.000000   583.000000  2750.000000

5. ¿Cuáles son algunas de las preguntas de investigación que podría responder con estos datos? Enumere al menos OCHO (no responda las preguntas).

*   ¿En que ubicación hay más probabilidad de que ocurra un accidente aereo?
*   ¿Vuelos privados más peligrosos?
*   ¿Probabilidad de no fallecer en un accidente aéreo?
*   ¿Tipo de aviones con más accidentes aéreos?
*   ¿Horas con mayor posibilidad de accidentes?
*   ¿Avances tecnológicos respecto a los accidentes aéreos?
*   ¿Rutas que deben cambiarse para no tener accidentes?
*   ¿Posibiliad de sobrevivir a un accidente de acuerdo a la altura del accidente?

6. ¿Qué actor (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas mencionadas que identificó?

* Gobiernos (normatividad aérea)
* Aerolíneas
* Industria de la aviación
* Usuarios de aerolíneas